<div class="card mb-3" [id]="task.id">
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <p class="card-text">{{ task.description }}</p>

    <div class="card-text">
      <small [ngClass]="{ 'text-danger': isOverdue(task.dueDate), 'text-muted': !isOverdue(task.dueDate) }">
        <b class="text-secondary">Due:</b> {{ formatDueDate(task.dueDate) }}
      </small>
    </div>

    <span class="badge" [ngClass]="{
      'bg-secondary': task.status === 1,
      'bg-warning text-dark': task.status === 2,
      'bg-success': task.status === 3
    }">
      {{ task.status === 1 ? 'To Do' : task.status === 2 ? 'In progress' : task.status === 3 ? 'Done' : '' }}
    </span>

    <div class="mt-2">
      <button class="btn btn-sm btn-primary" (click)="onEditClick()">Edit</button>
      <button class="btn btn-sm btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>
</div>
